body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#first-container {
    background-size: cover;
    background-image: url(/imgs/hexagons-geometric-shapes-geometry-texture-black-blue-simple.jpg);
    color: aliceblue;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-family: 'Iceland', 'Courier New', Courier, monospace;
}

#header {
    display: flex;
    margin: 0 0 1em 0;
    padding: 0px 10%;
    font-size: 28px;
}

#header li {
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 100%;
    justify-content: space-between;
    text-decoration: none;
}

#header li ul {
    padding: 0px;
}


a:visited, a:hover, a:link, a:active {
    text-decoration: none;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 100px;
    font-weight: 400;
    padding: 0 0 0 0;
    font-family: 'Orbitron', 'Courier New', Courier, monospace;
}

#first-container h2 {
    display: flex;
    padding: 0;
    margin: 30px 0 7% 0;
    font-family: 'Orbitron', 'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: 200;
    justify-content: center;
}

#footer {
    min-height: max-content;
    height: 10px;
}

#submission {
    display: flex;
    justify-content: center;
}

#submission input{
    width: 70vw;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Orbitron', 'Courier New', Courier, monospace;
    border-radius: 20px;
    color: beige;
    font-size: 30px;
    background-color: black;
    border: rgb(236, 236, 243) solid 2px;
    height: 5vh;
    min-height: max-content;
    margin-bottom: 40px;
}

#submission button {
    width: min-content;
    padding: 0 10px;
    font-family: 'Orbitron', 'Courier New', Courier, monospace;
    border-radius: 20px;
    color: beige;
    font-size: 30px;
    background-color: black;
    border: rgb(236, 236, 243) solid 2px;
    height: 5.5vh;
    min-height: max-content;
    margin-bottom: 40px; 
}

#footer {
    display: flex;
    justify-content: center;
    font-family: 'Smooth Sans', 'Courier New', Courier, monospace;
}